rendering/blender-3.2.2-linux-x64
rendering/output/
rendering/output_2
rendering/obj_data
rendering/obj_*
rendering/sbatch_*
rendering/sh_script*
.DS_Store
env
4d-bpy
rendering/4d_tracking_output
rendering/vertex_tracking_output
rendering/10_example
rendering/10_example_marstin/
rendering/10_example_marstin_512.zip
rendering/10_example_marstin_512/
rendering/7scenes_val/
rendering/812/
rendering/__pycache__/
rendering/authorized_list/
rendering/check_files.py
rendering/copy_authorized.py
rendering/final_martin.sh
rendering/final_martin_v2.sh
rendering/final_martin_v2/
rendering/final_obajaverse_filtered_first24.zip
rendering/final_obajaverse_filtered_first24/
rendering/obajaverse_test_sh/
rendering/objaverse_test/
rendering/objaverse_test_first24/
rendering/objaverse_test_sbatch/
rendering/objaverse_xl.py
rendering/output_7_val_final/
rendering/sh_two_rotate_7_val_final/
rendering/sh_val/
rendering/src/7_obj.txt
rendering/src/missing.txt
rendering/submit_all_3.sh
rendering/submit_all_objaverse_test.sh
rendering/submit_all_val.sh
rendering/output_test_png